{% extends "base.html" %}

{% block title %}
<title>Receipt cashbook</title>
{% endblock title %}


{% block content %}
<form action="/credits" method="POST">

  <!-- page wrapper -->
  <div class="cashbook">
    <br>
    <h3 class="slider-title one">Enter the number of accounts to credit:</h3>
    <!-- carousel -->
    <div class="receipt">

      <div class="receipt-section">

        <label class="label-no" for="no_of_credits">number of accounts: </label>
        <input class="input label-no" type="number" name="no_of_credits" placeholder="Enter number of accounts"
          required> <br>
      </div>

    </div>
    <input class="btn-big" type="submit" value="continue">
    <br><br>
  </div>
</form>
{% endblock content %}